img {
    border-radius: 1.2rem;
    display: block;
    max-width: 24rem;
    margin: 1rem auto;
  }
  
  h1 {
    margin: 1rem auto;
    max-width: 25rem;
    text-align: center;
  }
  
  h2 {
    color: #696969;
    font-size: 1.4rem;
    margin: 1rem auto;
    max-width: 24rem;
    text-align: center;
  }